Repository brettstark73/brettstark-about: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system

stylelint:
  name: Stylelint
  entry: npx stylelint --fix
  language: system

fix: resolve peer dependency conflict and vitest CLI flags breaking deploy
  package.json
  scripts/smart-test-strategy.sh
Due: prettier

fix: exclude integration/e2e tests from default test command
  package.json
Due: prettier

chore: rebrand to BuildProven — update brand references
  README.md
  SECURITY.md
  api/beehiiv.js
  package.json
  public/index.html
  scripts/smart-test-strategy.sh
Due: prettier, eslint

refactor: replace GA policy block with shared doc reference (CS-132)
  CLAUDE.md
Due: prettier

refactor: replace GA policy block with shared doc reference (CS-132) (#45)
  CLAUDE.md
Due: prettier

chore: optimize dependabot — monthly, limit 2, group all
  .github/dependabot.yml
Due: none

ci: change security scan from weekly to monthly
  .github/workflows/quality.yml
Due: none

chore: update quality workflow and test strategy
  .github/workflows/quality.yml
  package.json
  scripts/smart-test-strategy.sh
Due: prettier

chore: update quality workflow and test strategy (#52)
  .github/workflows/quality.yml
  package.json
  scripts/smart-test-strategy.sh
Due: prettier

refactor: consolidate AI ventures under BuildProven.ai
  public/index.html
  public/styles.css
Due: prettier, eslint, stylelint

chore(deps): fix safe npm audit vulnerabilities
  package-lock.json
Due: prettier

fix: scope npm audit to production deps in pre-push hook
  .husky/pre-push
Due: none

refactor: consolidate AI ventures under BuildProven.ai (#53)
  .husky/pre-push
  package-lock.json
  public/index.html
  public/styles.css
Due: prettier, eslint, stylelint

fix: repair GitHub and Beehiiv activity cards
  api/beehiiv.js
  api/github.js
Due: prettier, eslint

fix: repair GitHub and Beehiiv activity cards (#54)
  api/beehiiv.js
  api/github.js
Due: prettier, eslint

fix: improve GitHub card — show repos, followers, language instead of misleading commit count
  api/github.js
  public/index.html
Due: prettier, eslint

fix: improve GitHub card — show repos, followers, language instead of misleading commit count (#55)
  api/github.js
  public/index.html
Due: prettier, eslint

fix: handle cached API response for GitHub followers field
  public/index.html
Due: prettier, eslint

fix: handle cached API response for GitHub followers field (#56)
  public/index.html
Due: prettier, eslint

fix: enable error logging, restrict CORS, add security headers
  api/beehiiv.js
  api/github.js
  api/strava.js
  public/index.html
  vercel.json
Due: prettier, eslint

fix: enable error logging, restrict CORS, add security headers (#57)
  api/beehiiv.js
  api/github.js
  api/strava.js
  public/index.html
  vercel.json
Due: prettier, eslint

chore: gitignore Playwright MCP artifacts
  .gitignore
Due: none

chore: gitignore Playwright MCP artifacts (#58)
  .gitignore
Due: none

fix: replace curly smart quotes with straight quotes in inline JS
  public/index.html
Due: prettier, eslint

fix: replace curly smart quotes with straight quotes in inline JS (#61)
  public/index.html
Due: prettier, eslint

feat: add BuildProven.ai CTA link in hero section
  public/index.html
  public/styles.css
Due: prettier, eslint, stylelint

feat: add BuildProven.ai CTA link in hero section (#62)
  public/index.html
  public/styles.css
Due: prettier, eslint, stylelint

docs: sync CLAUDE.md
  CLAUDE.md
Due: prettier

style: fix prettier formatting
  tests/accessibility.test.js
  tests/integration/README.md
Due: prettier, eslint

docs: sync CLAUDE.md (#63)
  CLAUDE.md
  tests/accessibility.test.js
  tests/integration/README.md
Due: prettier, eslint

chore: gitignore .DS_Store
  .DS_Store
  .gitignore
Due: none

chore: gitignore .DS_Store (#64)
  .DS_Store
  .gitignore
Due: none

chore: add AI quality gates (knip, patterns, complexity)
  .defensive-patterns.json
  .husky/pre-commit
  .husky/pre-push
  eslint.config.cjs
  knip.config.js
  package-lock.json
  package.json
  scripts/pattern-check.sh
Due: prettier, eslint

chore: add AI quality gates (knip, patterns, complexity) (#66)
  .defensive-patterns.json
  .husky/pre-commit
  .husky/pre-push
  eslint.config.cjs
  knip.config.js
  package-lock.json
  package.json
  scripts/pattern-check.sh
Due: prettier, eslint

chore: add semgrep security scan and license compliance gates
  .husky/pre-push
  .semgrep/defensive-patterns.yaml
  package-lock.json
  package.json
  scripts/run-semgrep.sh
Due: prettier

fix: resolve pre-push hook blockers for quality gates
  scripts/pattern-check.sh
  scripts/smart-test-strategy.sh
Due: none

chore: add semgrep + license compliance gates (#67)
  .husky/pre-push
  .semgrep/defensive-patterns.yaml
  package-lock.json
  package.json
  scripts/pattern-check.sh
  scripts/run-semgrep.sh
  scripts/smart-test-strategy.sh
Due: prettier

chore: add stale-prs workflow from claude-setup fleet standard
  .github/workflows/stale-prs.yml
Due: none

chore: add stale-prs workflow from claude-setup fleet standard (#68)
  .github/workflows/stale-prs.yml
Due: none

Path conditions:
  prettier: any of: \.(js|html|css|json|md)$
  eslint: any of: \.(js|html)$
  stylelint: any of: \.css$
