Repository brettstark73/brettstark-about: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: \.(js|html|css|json|md)$
        
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        files: \.(js|html)$
        
      - id: stylelint
        name: Stylelint
        entry: npx stylelint --fix
        language: system
        files: \.css$

fix: correct lint-staged configuration
  package.json
Due: prettier

docs: update project status - favicon and og-image are complete
  CLAUDE.md
Due: prettier

fix: revert GitHub section to simple widget with proper alignment
  public/styles.css
Due: prettier, stylelint

fix: correct HTML structure and ESLint configuration
  .claude/settings.json
  .eslintrc.json
  .lighthouserc.json
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  AGENTS.md
  README.md
  public/index.html
  vercel.json
Due: prettier, eslint

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat: Add Strava widget with GitHub activity widgets
  CLAUDE.md
Due: prettier

fix: Improve activity widgets layout and styling
  api/github.js
  public/index.html
  public/styles.css
Due: prettier, eslint, stylelint

fix: Force side-by-side layout for activity widgets
  public/styles.css
Due: prettier, stylelint

refactor: Drastically simplify activity widgets
  public/index.html
  public/styles.css
Due: prettier, eslint, stylelint

Fix: Resolve text contrast issues in activity widgets
  api/beehiiv.js
  api/github.js
  api/strava.js
  public/index.html
  public/styles.css
Due: prettier, eslint, stylelint

Enhance: Improve widget functionality and UX
  api/github.js
  api/strava.js
  public/index.html
  public/styles.css
Due: prettier, eslint, stylelint

Fix: Update newsletter URL to aisecondact.com
  api/beehiiv.js
  public/index.html
Due: prettier, eslint

Enhance: Add live/fallback badges to all widgets
  api/github.js
  api/strava.js
  public/index.html
Due: prettier, eslint

Widgets: layout/contrast fixes; add LIVE/FALLBACK badges; API caching; Beehiiv custom domain; CSS cleanup
  public/index.html
  public/styles.css
  server.js
Due: prettier, eslint, stylelint

CI: add quality workflow to run Prettier/ESLint/Stylelint on push/PR
  .github/workflows/quality.yml
Due: none

Fix: reorder link-card hover styles for stylelint; resolve ESLint warnings in server.js
  public/styles.css
  server.js
Due: prettier, eslint, stylelint

Node 20: add .nvmrc, engines field; pin Vercel functions to nodejs20.x
  .nvmrc
  package.json
  vercel.json
Due: prettier

Tooling: add Volta pin (Node 20.11.1, npm 10.2.4) and .npmrc engine-strict
  .npmrc
  package.json
Due: prettier

Docs: add QUALITY-SETUP.md and link from README
  QUALITY-SETUP.md
  README.md
  public/index.html
  public/styles.css
Due: prettier, eslint, stylelint

Docs: add Vercel runtime note to QUALITY-SETUP.md (prefer engines auto-detect; avoid hard-coded runtime)
  QUALITY-SETUP.md
  public/index.html
  vercel.json
Due: prettier, eslint

Final: Complete image orientation fixes and profile photo
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/og-image.png
  public/profile-image.jpg
  public/styles.css
  public/twitter-card.png
Due: prettier, eslint, stylelint

Add WFHroulette CLI and web frontend
  .gitignore
  .stylelintignore
  LICENSE
  README.md
  cli.js
  lib/wfhroulette.js
  package.json
  reasons.json
  web/app.js
  web/index.html
Due: prettier, eslint

Revert "Add WFHroulette CLI and web frontend"
  .gitignore
  .stylelintignore
  LICENSE
  README.md
  cli.js
  lib/wfhroulette.js
  package.json
  reasons.json
  web/app.js
  web/index.html
Due: prettier, eslint

Fix: Resolve server.js API imports and local dev workflow
  package.json
  server.js
Due: prettier, eslint

Final: Complete all three live widgets with proper API integration
  .DS_Store
  .stylelintignore
  AGENTS.md
  api/beehiiv.js
  api/strava.js
  package.json
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/icon-192x192.png
  public/icon-512x512.png
  public/index.html
  public/og-image.png
  public/site.webmanifest
Due: prettier, eslint

Clean: Remove WFHroulette contamination and update project name
  README.md
  cli.js
  lib/wfhroulette.js
  package.json
  reasons.json
  web/app.js
  web/index.html
Due: prettier, eslint

Fix: Remove trailing comma in package.json scripts
  package.json
Due: prettier

Remove MIT license - personal site content is proprietary
  AGENTS.md
  LICENSE
  README.md
Due: prettier

Fix: Strava auto-refresh to always get fresh tokens
  api/strava.js
Due: prettier, eslint

Test: Verify GitHub Actions workflows
  public/index.html
Due: prettier, eslint

Fix: Update GitHub Actions to use Node.js 20
  .github/workflows/quality-checks.yml
Due: none

Clean: Remove GitHub Actions test comment
  public/index.html
Due: prettier, eslint

Fix: Remove console.log ESLint warnings
  api/strava.js
  server.js
Due: prettier, eslint

Fix: Disable CSS specificity rule to maintain logical organization
  .stylelintrc.json
Due: prettier

Improve: Align quality automation scripts with create-quality-automation standard
  .github/workflows/quality-checks.yml
  package.json
Due: prettier

Fix: Improve badge styling consistency across Chrome and Safari
  public/styles.css
Due: prettier, stylelint

Resolve merge conflict in package.json
  README.md
  api/beehiiv.js
  node_modules/.package-lock.json
  node_modules/globals/globals.json
  node_modules/globals/index.d.ts
  node_modules/globals/package.json
  node_modules/globals/readme.md
  package-lock.json
  package.json
  public/styles.css
Due: prettier, eslint, stylelint

Upgrade: Integrate create-quality-automation with ESLint 9 and modern tooling
  .eslintignore
  .eslintrc.json
  .lighthouserc.js
  api/beehiiv.js
  api/strava.js
  eslint.config.cjs
  package-lock.json
  package.json
  server.js
Due: prettier, eslint

chore: Update quality workflow to use create-quality-automation validation
  .github/workflows/quality.yml
Due: none
