Repository brettstark73/brettstark-about: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system

stylelint:
  name: Stylelint
  entry: npx stylelint --fix
  language: system

chore: update quality automation to v4.3.3
  .gitleaks.toml
  .gitleaksignore
  .husky/pre-push
  .qualityrc.json
  AGENTS.md
  SECURITY.md
  eslint-security.config.js
  package.json
  tests/placeholder.test.js
Due: prettier, eslint

docs: QA Architect rename + documentation audit
  .github/workflows/quality.yml
  .gitleaks.toml
  AGENTS.md
  CLAUDE.md
  QUALITY-SETUP.md
  README.md
  SECURITY.md
  eslint-security.config.js
  package.json
  scripts/smart-test-strategy.sh
Due: prettier, eslint

Add Vercel Web Analytics integration
  node_modules/.package-lock.json
  public/404.html
  public/index.html
Due: prettier, eslint

chore: update CLAUDE.md configuration
  CLAUDE.md
Due: prettier

chore: upgrade Vitest 2.x → 4.x
  package-lock.json
  package.json
Due: prettier

ci: auto-create GitHub release on tag push
  .github/workflows/auto-release.yml
Due: none

fix: improve secret detection to reduce false positives
  .github/dependabot.yml
  .github/workflows/quality.yml
Due: none

fix: add .env patterns to gitignore, make qa-architect non-blocking
  .github/workflows/quality.yml
  .gitignore
Due: none

ci: add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

docs: add project backlog
  BACKLOG.md
Due: prettier

chore: upgrade qa-architect to v5.4.3
  .husky/commit-msg
  .husky/pre-push
  QUALITY_TROUBLESHOOTING.md
  commitlint.config.js
  lighthouserc.js
  package-lock.json
  package.json
  scripts/smart-test-strategy.sh
  tests/accessibility.test.js
  tests/e2e/smoke.test.js
  tests/integration/README.md
  tests/integration/example.test.js
  tests/unit/sample.test.js
Due: prettier, eslint

chore: update qa-architect to v5.6.0
  package.json
Due: prettier

ci: allow Vercel bot to trigger Claude code reviews
  .github/workflows/claude-code-review.yml
  commitlint.config.js
Due: prettier, eslint

ci: allow Vercel bot to trigger Claude code reviews (#31)
  .github/workflows/claude-code-review.yml
  commitlint.config.js
Due: prettier, eslint

fix: allow Vercel bot to trigger Claude code reviews
  package-lock.json
  package.json
Due: prettier

Add Vercel Web Analytics integration
  public/404.html
  public/index.html
Due: prettier, eslint

chore: format test files and fix linting issues
  lighthouserc.js
  public/index.html
  tests/accessibility.test.js
  tests/e2e/smoke.test.js
  tests/integration/README.md
  tests/integration/example.test.js
  tests/unit/sample.test.js
Due: prettier, eslint

fix: remove deprecated clip property from CSS
  public/styles.css
Due: prettier, stylelint

chore: fix high severity npm audit vulnerabilities
  package-lock.json
Due: prettier

chore: update qa-architect to v5.8.0 with minimal workflow
  .github/workflows/quality.yml
  .husky/pre-push
Due: none

docs: add GitHub Actions workflow policy to CLAUDE.md
  CLAUDE.md
Due: prettier

chore: update to qa-architect v5.8.0 with minimal workflow mode
  .qualityrc.json
Due: prettier

chore: update to qa-architect v5.10.1 with CI-aware Husky prepare script
  .github/workflows/quality.yml
Due: none

chore: update to qa-architect v5.10.1
  package.json
  scripts/smart-test-strategy.sh
Due: prettier

chore: update to qa-architect v5.10.3
  .husky/pre-push
Due: none

chore: update to qa-architect v5.10.4
  .github/workflows/quality.yml
Due: none

ci: skip Quality Checks for Dependabot PRs
  .github/workflows/quality.yml
Due: none

chore: upgrade qa-architect to v5.11.1
  .husky/pre-push
  package.json
  tests/integration/example.test.js
Due: prettier, eslint

chore: remove duplicate quality-checks.yml workflow (CI cost reduction)
  .github/workflows/quality-checks.yml
Due: none

chore: install dependencies and fix husky setup
  .gitleaks.toml
  package-lock.json
  tests/integration/example.test.js
Due: prettier, eslint

chore: update dependencies and resolve merge conflicts
  .husky/pre-push
  package-lock.json
Due: prettier

fix: repair gitleaks config - remove overly broad base64 rule, add artifact paths
  .gitleaks.toml
Due: none

ci: regenerate quality.yml from qa-architect 5.12.0 + fix quality issues
  .github/workflows/quality.yml
  .husky/pre-push
  package.json
  tests/integration/example.test.js
Due: prettier, eslint

chore: regenerate qa-architect workflow (minimal tier)
  .github/workflows/quality.yml
Due: none

fix: resolve peer dependency conflict breaking Vercel deploy
  package-lock.json
  package.json
Due: prettier

Path conditions:
  prettier: any of: \.(js|html|css|json|md)$
  eslint: any of: \.(js|html)$
  stylelint: any of: \.css$
